.cover__link {
  position: relative;
  max-width: 100%;
  min-height: 740px;
  text-decoration: none;
  color: inherit;
  z-index: 0;

  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  min-width: 100%;
  min-height: 100%;

  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity .4s ease;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media all and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media all and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media all and (max-width: 320px) {
  .cover__link {
    gap: 16px;
    min-height: 200px;
  }
}
