.cover__background {
  max-width: 100%;
  min-height: 740px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media all and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media all and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media all and (max-width: 320px) {
  .cover__background {
    gap: 16px;
    min-height: 200px;
  }
}
